h1 { font-size: 2.5em; }
h2 { font-size: 2.1459em; }
h3 { font-size: 1.842em; }
h4 { font-size: 1.5811em; }
h5 { font-size: 1.3572em; }
h6 { font-size: 1.165em; }
small { font-size: .8584em; }
html { font-size: 1.125em; }

h1, h2, h3, h4, h5, h6 {
	font-family: 'Playfair Display';
	font-weight: normal;
}

html {
	font-family: 'Raleway';
}

h1, h2 {margin: 0 0 3rem 0}