figure {float:left; margin: 0.5rem;}

article {border: 2px solid red; padding: 1rem;}

div {margin: 3rem;}

aside {background: yellow; border: 4px solid blue; padding: 2rem;}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

div.example1 {overflow: auto;}

article.auto {overflow: auto;}