h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.498em;
}

h3 {
    font-size: 2.0801em;
}

h4 {
    font-size: 1.7321em;
}

h5 {
    font-size: 1.4422em;
}

h6 {
    font-size: 1.2009em;
}

p {
    font-size: 1em;
}

small {
    font-size: .8327em;
}

h2,
h3,
h4,
h5,
h6 {
    color: #0057cf;
    font-weight: bold;
    line-height: 1.1;
    margin: 2rem 0 1rem 0;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background-color: #fff;
}


#jac-logo {
    margin: 0 auto 1rem auto;
    max-width: 425px;
    display: block;
}

h1 span {
    display: block;
    font-size: 150%
}

header {
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #85dbff;
    padding-top: 0rem;
    position: relative;
    margin: 0;
    padding: 1rem 0 0 0;
}

h1 {
    line-height: 1;
    text-align: center;
    color: #000000;
    font-weight: bold;
    position: relative;
}

header h2 {
    margin: 0;
    color: #000000;
    font-weight: bold;
    font-style: italic;
    line-height: 1.3;
    text-align: center;
    font-size: 1.5rem;
    background-color: #85dbff;
    padding: 1rem;
    max-width: 40ch;
    margin-left: auto;
    margin-right: auto;
}

section {
    border: 1px solid #444;
    margin: 1rem 1rem 5rem 1rem;
    padding: 1rem;
    background-color: #fff;
}

picture {
    max-width: 18.75rem;
    /* 18.75rem * 16 = 300px */
}

footer {
	background-color: #85dbff;
	color: #000000;
	height: 10rem;
	line-height: 5rem;
	text-align: center;
}

footer a:link {color: white; text-decoration: none;}
footer a:visited {color: rgb(220, 218, 218);}
footer a:hover {text-decoration: underline;}
footer a:active {color: rgb(216, 216, 30);}


@media screen and (min-width: 48rem) {

    body {
        background: rgb(255, 255, 255);
    }

    p {
        max-width: 90ch;
    }

    picture {
        max-width: 36rem;
        /* 36rem * 16 = 576px */
    }

    .flex-container > p,
    .flex-container > div {
        margin: 0 1rem;
    }
 

    .flex-container {
        display: flex;
    }

    .when .flex-container {
        flex-direction: row-reverse;
    }

    .when p,
    .when picture,
    .why p,
    .why picture {
	    flex-basis: 50%;
    }

    .how .flex-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .how picture {
        order: 2;
      }

    .how .flex-container div {
    order: 1;
    }
} /* always comment closing media query */


@media screen and (min-width: 60rem) {

    h1 {
        font-size: 4.6em;
    }

    .wrapper{
        max-width: 60rem;
        margin: 0 auto;
    }

    section {
        padding: unset;
        margin: 1rem 0 5rem 0;
    }
} /* always comment closing media query */