:root {
    --yellow: #fff000;
    --red: #ff0000;
    --blue: #25008b;
    --white: #fff;
    --black: #000;
    --green: #066603;
}




h1 {
  font-family: "akzidenz-grotesk-next-extend","Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  text-align: center;
}

h2,h3,h4,h5,h6,label,legend {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
    font-family: Roboto, sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

/* END Section 2.2 Choose your fonts */



/* START Section 2.3 Pick your font sizes for mobile */

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.498em;
}

h3 {
    font-size: 2.0801em;
}

h4 {
    font-size: 1.7321em;
}

h5 {
    font-size: 1.4422em;
}

h6 {
    font-size: 1.2009em;
}

p {
    font-size: 1em;
}

small {
    font-size: .8327em;
}

/* END Section 2.3 Pick your font sizes for mobile */





/* START section 2.4  format header */

header {padding: 2rem;}

#jac-logo {
	width: 100%;
	height: auto;
	display: block;
	filter: invert(1);
	margin: 0rem auto;
}

/* END section 2.4 format header */



/* START Section 2.5 Style Headings */


h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    line-height: 1.1;
    margin: 2rem 0 1rem 0;
}

/* END Section 2.5 Style Headings */


/* START Section 2.6 Color Palette */

 body { background-color: var(--blue);}

        div.wrapper {
	background-color: white;
	border: 2rem solid black;
	margin-top: -2rem;
    padding: 0;
}

        header {background-color: #ca0000;}



        h1 { color: #ffffff;}

        h1 span {}

        header h2 {color: #000000; background-color: var(--yellow);}



        section {background-color: #fff;}

        section.who {
            background-color: var(--yellow);
            color: var(--black);
        }

        section.what {
            background-color: var(--white);
            color: var(--black)}

        section.what h2 {}

        section.when {
            background-color: var(--red);
            color: var(--white);}

        section.when h2 {}

        section.where {
            background-color: var(--green);
            color: var(--white);
        }

        section.where h2 {}

        section.how {
            background-color: var(--yellow);
            color:var(--black)}

        section.how h2 {}

        section.why {
            margin-bottom: 0;
            background-color: var(--red);
            color: var(--white);
        }  /* last section */

        section.why h2 {}

       footer {
	margin: -2rem 0 0 0;
	border-top: 2rem solid black;
	height: 16rem;
	text-align: center;
	padding-top: 2rem;
    background-color: var(--yellow);
}


/* END Section 2.6 Color Palette */   



/* START section 2.7 LoVeHA Rules */

        header a:link {color: white; text-decoration: none;}
        header a:visited  {color: rgb(220, 218, 218);}
        header a:hover  {text-decoration: underline;}
        header a:active {color: magenta;}

        main a:link  {color: #444;}
        main a:visited  {color: #eee;}
        main a:hover  {text-decoration: underline;}
        main a:active  {color: magenta;}

        footer a:link {color: white; text-decoration: none;}
        footer a:visited {color: rgb(220, 218, 218);}
        footer a:hover {text-decoration: underline;}
        footer a:active {color: magenta;}


/* END section 2.7 LoVeHA Rules */





/* START 2.8 Heights, Widths, Margins & Padding */

header {margin: 0 0 0 0; border-bottom: 2rem solid black;}

main {margin: 0; background-color: black;}

.wrapper {padding-bottom: 2rem;}

section {
	margin: 2rem 0;
	padding: 2rem;
}

footer {
	margin: -2rem 0 0 0;
	border-top: 2rem solid black;
}

picture {
	margin: 0 0 1rem 0;
	display: block;
}

/* END 2.8 Heights, Widths, Margins & Padding */



/* START Section 2.9 Scale the iNaturalist logo */

#inat {
    width: 70%;
    height: auto;
    display: block;
    margin: 0 auto; /* auto left right margins center the element */
}



/* START Section 2.10 Place logos side by side  */

.how .flex-container {
	display: flex;  /* places the two logos side by side */
	flex-basis: 50%;
}

.how .flex-container a {
	max-width: 50%; /* set the two anchors to act like two columns of 50% width */
	display: block;
	margin: 0 auto;
}

.android img {
	width: 200px;  /* adjust width of android logo */
    height: auto;
}

.ios img {
	height: 36px;
	width: auto;
	position: relative;
	top: 8px;
}

/* END Section 2.10 Place logos side by side  */



/* START Section 3.1 Media Queries */

   @media screen and (min-width: 60rem) {

    body {
        background-image: url(img/mondrian.svg);
    }

    #jac-logo {
	width: 20%;
	height: auto;
	margin: 0rem auto 3rem auto;
}

    h1 {font-size: 7rem;}

    .wrapper {
        max-width: 60rem;
        margin: 0 auto;
    }
    
    .flex-container {
        display: flex; /* puts elements side-by-side */
        column-gap: 2rem;
       
    }

    .flex-container picture,
    .flex-container div {
        flex-basis: calc(50% - 1rem);
        flex-shrink: 0; /* prevents width being less than 50% */
    }

.where p {
	background-color: var(--green);
	color: var(--white);
	margin: 0 -2rem 0 0;
	padding: 2rem;
	font-size: 2.4rem;
	font-weight: 600;
}

.where picture {
	background-color: var(--green);
	display: block;
	width: 100%;
	height: 100%;
	margin: 0 0 0rem -2rem;
}

.what picture {
	border: 2rem solid var(--black);
	background-color: var(--black);
	margin: 0 0 -2rem -4rem;
}

section.what h2 {
	position: relative;
	top: -3rem;
}

.ios img {
	height: 54px;
	width: auto;
	position: relative;
	top: 11px;
}

.what div {
	font-size: 2rem;
	line-height: 1.4;
}

.when h3 {
	font-size: 460%;
	text-align: center;
}

section.why h2 {
	font-size: 560%;
	font-weight: 100;
	position: relative;
	top: -2rem;
}

section.when h2 {
	font-size: 530%;
	font-weight: 100;
	position: relative;
	top: -2rem;
}

section.where h2 {
	font-weight: 100;
	font-size: 410%;
	position: relative;
	top: -1.3rem;
}

section.how h2 {
	font-weight: 100;
	font-size: 400%;
	position: relative;
	top: -2rem;
}

   } /* always comment closing media query */